@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *::before, *::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
