@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* *::before *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

$Strong_cyan: hsl(172, 67%, 45%);
$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Grayish_cyan: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$Very_light_grayish_cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

body {
    margin:0;
    min-height:100vh;
    font-family: 'Space Mono', monospace;
    background: $Light_grayish_cyan;
}