@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

$Strong_cyan: hsl(172, 67%, 45%);
$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Grayish_cyan: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$Very_light_grayish_cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

body {
    background-color: $Light_grayish_cyan;
    color: $Very_dark_cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex-direction: column;
    main {
        width: 666px;
        height: 368px;
        background-color: $White;
        border-radius: 16px;
        padding: 2rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        margin-top: 49px;
        margin-bottom: 38px;
        .input {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-right: 1rem;
            .input__bill {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 0.5rem;
                    font-size: 0.75rem;
                    color: $Dark_grayish_cyan;
                }
                .input__bill--container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: $Very_light_grayish_cyan;
                    border-radius: 8px;
                    padding: 0.5rem;
                    img {
                        margin-right: 0.5rem;
                        z-index: 2;
                    }
                    input {
                        font-size: 24px;
                        border: none;
                        background-color: transparent;
                        width: 100%;
                        font-size: 1rem;
                        color: $Very_dark_cyan;
                        padding: 0.5rem;
                        z-index: 1;
                        text-align: right;
                    }
                }
            }
            .input__tip {
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 0.5rem;
                    font-size: 0.75rem;
                    color: $Dark_grayish_cyan;
                }
                .input__tip--container {
                    width: 301px;
                    height: 96px;
                    .input__tip--buttons {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-gap: 0.5rem;
                        width: 301px;
                        .input__tip--custom {
                            input {
                                background-color: $Very_light_grayish_cyan !important;
                                color: $Very_dark_cyan !important;
                            }
                        }
                        .input__tip--button {
                            width: 95px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            background-color: $Very_light_grayish_cyan;
                            border-radius: 8px;
                            padding: 0.5rem;
                            font-size: 1rem;
                            border: none;
                            font-weight: 700;
                            cursor: pointer;
                            background-color: $Very_dark_cyan;
                            color: $Very_light_grayish_cyan;
                            &:hover {
                                background-color: $Strong_cyan;
                                color: $Very_dark_cyan;
                            }
                            &.active {
                                background-color: $Strong_cyan;
                                color: $White;
                            }
                        }
                    }
                }
            }
            .input__people {
                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 0.75rem;

                    .zero {
                        color: #d43c0e;
                    }
                    .hidden {
                        display: none;
                    }
                }
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 0.5rem;
                    font-size: 0.75rem;
                    color: $Dark_grayish_cyan;
                }
                .input__people--container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: $Very_light_grayish_cyan;
                    border-radius: 8px;
                    padding: 0.5rem;
                    img {
                        margin-right: 0.5rem;
                        z-index: 2;
                    }
                    input {
                        font-size: 24px;
                        border: none;
                        background-color: transparent;
                        width: 100%;
                        font-size: 1rem;
                        color: $Very_dark_cyan;
                        padding: 0.5rem;
                        z-index: 1;
                        text-align: right;
                    }
                }
            }
        }
        .output {
            background-color: $Very_dark_cyan;
            width: 50%;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            color: $White;
            .output__tip {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 1rem;
                .output__tip--text {
                    font-size: 0.75rem;
                    color: $Light_grayish_cyan;
                    .output__tip--person {
                        font-size: 0.6rem;
                        color: $Grayish_cyan;
                        font-weight: 700;
                    }
                }
                .output__tip--amount {
                    font-size: 2rem;
                    font-weight: 700;   
                    color: $Strong_cyan;                
                }
            }
            .output__total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 2rem;
                margin-bottom: 2rem;
                .output__total--text {
                    font-size: 0.75rem;
                    color: $Light_grayish_cyan;
                    .output__tip--person {
                        font-size: 0.6rem;
                        color: $Grayish_cyan;
                        font-weight: 700;                        
                    }
                }
                .output__total--amount {
                    font-size: 2rem;
                    font-weight: 700;
                    color: $Strong_cyan;
                }
            }
            .output__reset {
                background-color: #0d686d;
                border: none;
                font-size: 0.75rem;
                color: #045c60;
                font-weight: 700;
                height: 48px;
                margin-top: 32px;
                border-radius: 3px;
                cursor: pointer;
                &:hover {
                    background-color: #9fe8df;
                }
            }
        }
    }
}